body
{
    background-color:#8f8f95;
}
div.date_overlay { 
font-size:small;
position:absolute;
height:100%;
left:0;
}
div {
    z-index:100;

}
div.picture_date {
font-size:xsmall;
font-family:Sans-serif;
position:absolute;
height:100%;
left:0;
background-image: url("./star.png");
background-repeat:no-repeat;
background-position:center;
background-color:black;
color:#ffffff;
text-align: center;
vertical-align: middle;
font-weight:900;
vertical-align: middle;
}